<Div id="nav-container">
    <span id="nav-welcome">
        <h3 id="nav-bytes">Community Bytes</h3>
        <p id="slogan">For the culinary community that loves the byte</p>
    </span>
    <span id="nav-links-container">
        <a class="nav-links" href="/recipes/new">Create a Recipe</a>
        <a class="nav-links" href="/recipes/show">Show All Recipes</a>
        <a class="nav-links" href="/recipes/find">Search Recipes</a>
        <!-- Do later -->
        <a class="nav-links" href="">Log In</a>
    </span>
</Div>