<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('partials/navbar') %>
    <h1 id="header">Welcome to Community Bites</h1>
    <div id="introContainer">
        <p id="intro-text">Welcome to Community Bytes...
            We are a community of culinary enthusiast, that want to get together a share our recipes with everyone. If you have a recipe that you wish to share with the community, we welcome it. Maybe you have a recipe and you would like some feedback from others. Maybe you have created a tasty masterpiece.  Or maybe you are just looking form something delicious to cook. Our goal is not only share our recipes, but to help broaden our skills as culinary artist.
            We do ask that all members be respectful to each other when reviewing  recipes. We also ask for all members to keep a cool head when receiving polite suggestion. You never know when a person may help you discover a way to bring you recipe to the next level.
            Be kind and respectful  to one another and as always dig in and enjoy!</p>
        <img id="mainImg" src="/images/Main_Page.jpg" alt="">
    </div>
    <div><a href="/recipes/new">Create Recipe </a></div>
    <div></div><a href="/recipes/find">Find your Favorite Recipe </a></div>
    <div><a href="/recipes/show">Show All Recipes </a></div>
    <!-- Place Nav UI Here -->
    <ul class="right">
        
        <!-- new html below -->
        <% if (user) { %>
            <a href="/logout"><i class="material-icons left"></i>Log Out</a>
            <% } else { %>
                <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
                <% } %>
                    </li>
    </ul>
</body>

</html>