body {
    color: white;
    margin: 0;
    background-color: rgb(169, 106, 200);
}

#nav-container {
    background-color: rgb(115, 74, 136);
    margin: 0;
    padding: 1vw;
}

#nav-bytes {
    display: inline;
    margin-right: 5px;
    font-family: 'Nunito', sans-serif;
}

#slogan {
    display: inline;
    font-style: italic;
    font-family: 'MonteCarlo', cursive;
    font-size: 1.6em;
}

#nav-links-container {
    float: right;
    height: 44px;
    line-height: 44px;
}

.nav-links {
    display: inline;
    padding-right: 30px;
    line-height: 100%;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

.nav-links:hover {
    text-decoration: underline;
}
/*  Nav bar css ends  */

#header {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Nunito', sans-serif;
    text-shadow: 2px 2px 5px black;
}

#introContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "text image";
    column-gap: 75px;
    margin: 2em;
}

#intro-text {
    display: inline;
    grid-area: text;
    font-size: 1.5em;
    line-height: 1.6em;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
    text-shadow: 2px 2px 2px black;
}

#mainImg {
    height: 400px;
    width: 400px;
    display: inline-block;
    grid-area: image;
}

#get-started {
    text-decoration: none;
    color: black;
    width: 120px;
    height: 75px;
    border-radius: 25%;
    text-align: center;
    line-height: 75px;
    background: linear-gradient(rgb(255, 229, 84), gold, rgb(218, 185, 2));
    display: inline-block;
    font-size: 1.2em;
    border: 1.5px solid black;
    box-shadow: 3px 3px 5px black;
}

#get-started:hover {
    background: linear-gradient(rgb(255, 224, 50), rgb(228, 194, 0), rgb(192, 163, 0));
}

#get-started-button {
    text-align: center;
    margin-top: 100px;
}