body {
    color: white;
    margin: 0;
    background-color: rgb(169, 106, 200);
}

#nav-container {
    background-color: rgb(115, 74, 136);
    margin: 0;
    padding: 1vw;
}

#nav-bytes {
    display: inline;
    margin-right: 5px;
    font-family: 'Nunito', sans-serif;
}

#slogan {
    display: inline;
    font-style: italic;
    font-family: 'MonteCarlo', cursive;
    font-size: 1.6em;
}

#nav-links-container {
    float: right;
    height: 44px;
    line-height: 44px;
}

.nav-links {
    display: inline;
    padding-right: 30px;
    line-height: 100%;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

.nav-links:hover {
    text-decoration: underline;
}
/*  Nav bar css ends  */

#title-name,#title-update-name{
    text-align: center;
}

#recipe-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "ingredients steps";
}

.cls-ingredients{
    grid-area: ingredients;
}
.cls-steps{
    grid-area: steps;
}
/********/
#update-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "form newsteps";
}
.cls-addsteps{
    grid-area: form;
}
.cls-liststeps{
    grid-area: newsteps;
}
#submit-btn{
    width:30%;
    margin-left:35%;
    margin-right:35%;
    background-color:gold;
}