<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe</title>
    <link rel="stylesheet" href="/css/create.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('../partials/navbar') %>
        <h2 id="create-recipe-header">Create New Recipe</h2>
        <form id="new-form" action="/recipes" method="POST" name="form2">
            <label>Recipe Name:</label>
            <input type="text" name="recipeName"> 
        </form>
        <hr>
        <section class="ingredient-container">
            <div class="add-form">
                <h4>Add Ingredients:</h4>
                <label>Ingredients</label>
                <input type="text" name="ingredientsInput" id="ingredientsInput" form="new-form">
                <button onclick="addIngred()" type="button">Add Ingredient</button>
            </div>
            <div class="list-element">
                <h4 id="oneIngredient">Ingredients Added: </h4>
            </div>
        </section>
        <hr>
        <section class="steps-container">
            <div class="add-form">
                <h4>Add Steps:</h4>
                <label id="step-num">Step 1</label>
                <input type="text" name="stepsInput" id="stepsInput" form="new-form">
            <button onclick="addStep()" type="button">Add Step</button>
            </div>
            <div class="list-element">
                <h4 id="recipeStep">Recipe Steps: </h4>
            </div>
        </section>
        <hr>
        <input type="submit" value="Add Recipe" form="new-form">
</body>
<script defer>
    let ingredients = [];
    let steps = [];
    let num = 1;
    let ingredEl = document.getElementById("ingredientsInput");
    let stepsEl = document.getElementById("stepsInput");
    let formEl = document.getElementById("new-form");
    function addStep() {
        console.log(stepsEl);
        steps.push(stepsEl.value);
        document.getElementById("recipeStep").append(` ${stepsEl.value}`);
        // return steps;
        // Add the data as hidden input fields
        let inputEl = document.createElement("input");
        inputEl.setAttribute("type", "hidden");
        inputEl.setAttribute("name", `steps`);
        inputEl.setAttribute("value", stepsEl.value);
        formEl.append(inputEl);
        stepsEl.value = "";
        num++;
        document.getElementById("step-num").innerHTML = `Step ${num}`;
    };
    function addIngred() {
        console.log(ingredEl);
        // Adds to ingredients array
        ingredients.push(ingredEl.value);
        // Adds content below ingredients added
        document.getElementById("oneIngredient").append(` ${ingredEl.value}`);
        // return ingredients;

        // Add the data as hidden input fields
        let inputEl = document.createElement("input");
        inputEl.setAttribute("type", "hidden");
        inputEl.setAttribute("name", `ingredients`);
        inputEl.setAttribute("value", ingredEl.value);
        formEl.append(inputEl);
        ingredEl.value = "";
    };
</script>

</html>